<a [routerLink]="['']">landing page </a>
<button (click) = "onSortRestaurantsAscendant()">Trier par prix croissant</button>
<button (click) = "onSortRestaurantsDescendant()">Trier par prix décroissant</button>


  <h1>Filtres par cuisine</h1>


<form [formGroup]="form" (ngSubmit)="submit()">

  <input type="checkbox" name="marocain" value="marocain">
  <label for="marocain">Marocain</label><br>

  <input type="checkbox" name="tunisien" value="tunisien">
  <label for="tunisien">Tunisien</label><br>

  <input type="checkbox" name="francais" value="francais">
  <label for="francais">Français</label><br><br>  
  
  <button>submit</button>
  
</form>



<div>
  <app-restaurant *ngFor = "let restaurantElementOfArray of restaurantArray"
  [restaurants]="restaurantElementOfArray">
  
  </app-restaurant>
  </div>

