<a [routerLink]="['']">landing page </a>
<button (click) = "onSortRestaurantsAscendant()">Trier par prix croissant</button>
<button (click) = "onSortRestaurantsDescendant()">Trier par prix décroissant</button>


<h1>Filtres par cuisine</h1>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div *ngFor="let data of Data">
    <label>
      <input type="checkbox" [formControlName]="data.value" />
      {{ data.name }}
    </label>
  </div>

  <button>submit</button>
</form>


<div>
  <app-restaurant *ngFor="let restaurant of filteredRestaurants" [restaurants]="restaurant"></app-restaurant>
</div>

